
body {
    /* display: flex; */
    color:black;
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* background-color: #d3d3d3; */
}

.TitleHeader {
    color: white;
    text-align: center;
    background-color: #383e42;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    max-height: 175px;
    border-radius: 10px;
}

.TitleHeader .Name {
    font-size: 50px;
    text-align: left;
    padding-top: 30px;
    padding-left:30px;
    padding-bottom: 15px;
    z-index: 1;
    position: relative;
    font-family: Times;
}

.TitleHeader .PersonalLogo {
    position: relative;
    
    display: flex;
    right: 0;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 100;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;             /* LOGO BECOMES CLEAR */
    pointer-events: none;   /* NOTHING HAPPENS IF CURSOR IS ON LOGO */
}

/*
.DropDownMenu {
    position: relative;
    display: inline-block;
}

.DropDownMenuContent {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    min-width: 200px;
    box-shadow: 0px 10px 20px 0px darkgrey;
    z-index: 1;
}

.DropDown:hover .DropDownMenuContent {
    display:block;
}
*/